@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

#yes{
    position: absolute;
    left: 41%;
}
#no{
    position: absolute;
    z-index: 1;
}

div{
    color: black;
    text-align: center;
}

.pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 240px;
    border-radius: 20px;
}

#noChoice{
    position: absolute;
    height: 200px;
    left: 21.4em;
    top: 3em;
    border-radius: 10px;
    visibility: hidden;
}

body{
    margin: 0;
    padding: 0;
    word-spacing: 1.4px;
    font-family: 'Varela Round', sans-serif;
    font-size: 25px;
    font-weight: bold;
    background-color: white;
    max-width: 1380px;
}

button{
    padding-left: 30px;
	padding-right: 30px;
	padding-top: 5px ;
	padding-bottom:5px ;
	font-weight: bold;
	font-family: 'Varela Round', sans-serif;
	border: 2px solid rgb(253, 59, 59);
    margin: 0px 20px;
    border-radius: 10px;
}

.picture{
    margin-top: 6%;
}

#hands{
    height: 100px;
    position: absolute;
    left: 23.3em;
    bottom: 7.2em;
}

.pics{
    position: absolute;
    height: 150px;
}

#crying{
    top: 2em;
    left: 5em
}

#please{
    bottom: 2em;
    left: 8em;
}

#aydol{
    top: 2em;
    right: 9em;
}

#payagKana{
    bottom: 2em;
    right: 17em;
}

#cgeNa{
    top: 10em;
    right: 8em;
}

#suicide{
    top: 9em;
    left: 12em;
}

img#hands, img#crying, img#cgeNa, img#payagKana, img#aydol, img#please, img#suicide{
    visibility: hidden; 
}

footer{
    position: fixed;
    font-size: 10px;
    bottom: 5px;
    left: 62em;
}

@media only screen and (max-width: 500px) {
   
    p{
        padding: 1px;
        font-size: 20px;
        font-weight: 900;
    }

    .pic{
        width: 170px;
        border-radius: 10px;
        margin-top: 5em;
    }

    body{
        font-weight: 100;
        font-family: 'Varela Round', sans-serif;
    }

    #yes{
        position: absolute;
        left: 31%;
    }

    button{
        font-family: 'Varela Round', sans-serif;
        padding: 5px 15px 5px 15px;
    }

    .pics{
        height: 100px;
        position: absolute;
    }

    #crying{
        top: 7%;
        left: 6%;
    }
    
    #please{
        bottom: 7%;
        left: 7%;
    }
    
    #aydol{
        top: 55%;
        right: 8%;
    }
    
    #payagKana{
        bottom: 7%;
        right: 25%;
    }
    
    #cgeNa{
        top: 1%;
        right: 10%;
    }
    
    #suicide{
        top: 50%;
        left: 5%;
    }

    #hands{
        height: 50px;
        position: absolute;
        left: 36.5%;
        bottom: 33%;
    }

    footer{
        position: fixed;
        font-size: 10px;
        bottom: 3px;
        left: 20em;
    }

    #noChoice{
        position: absolute;
        height: 150px;
        left: 5.5em;
        top: 4em;
        border-radius: 10px;
        visibility: hidden;
    }
}
