@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*{
    margin: 0;
}
.pic{
    max-height: 14vh;
    border-radius: 15px;
}

body{
    font-size: 100%;
}

#question{
    text-align: center;
    margin-top: 35%;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
}

p{
    padding: 1px;
}

#button{ 
    margin: 2% 30% 0% 32%;
}

button{
    padding: 5px 10px;
    border: 2px solid rgb(253, 59, 59);
    font-family: 'Varela Round', sans-serif;
    font-size: 100%;
    font-weight: 800;
    border-radius: 18px;
    margin: 0px 10px;
}

#no{
    position: absolute;
    z-index: 1;
}

.pics{
    position: absolute;
    max-height: 15vh;
    border-radius: 15px;
}

#crying{
    top: 1em;
    left: 1em;
    width: 100px;
}

#noChoice{
    top: 18%;
    left: 30%;
    visibility: hidden;
}

#cgeNa{
    top: 1%;
    right: 15%;
    height: 90px;
}

#please{
    bottom: 20%;
    left: 30%;
    height: 100%;
}

#suicide{
    height: 90px;
    top: 20%;
}

#payagKana{
    bottom: 40%;
    right: 2em;
}

#hands{
    left: 35%;
    top: 41%;
    height: 10%;
}

#sakitAydol{
    left: 3%;
    top: 44%;
}

footer{
    position: fixed;
    bottom: 10px;
    left: 30%;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    font-size: 60%;
}
