@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*{
    margin: 0;
}
.pic{
    max-height: 10vh;
    border-radius: 15px;
}

body{
    font-size: 70%;
}

#question{
    text-align: center;
    width: 49%;
    margin-top: 25%;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
}

#button{
    text-align: center;
    width: 40%;
    margin-top: 1%;
}

button{
    padding: 2px 5px;
    border: 2px solid rgb(253, 59, 59);
    font-family: 'Varela Round', sans-serif;
    font-size: 80%;
    font-weight: 800;
    border-radius: 20px;
    margin: 0px 5px;
}

#no{
    position: absolute;
    z-index: 1;
}

.pics{
    position: absolute;
    max-height: 10vh;
    border-radius: 15px;
}

#crying{
    top: 2em;
    left: 1em;
    width: 70px;
}

#noChoice{
    top: 14%;
    left: 12%;
    visibility: hidden;
}

#cgeNa{
    top: 2em;
    right: 55%;
    height: 70px;
}

#please{
    bottom: 25em;
    right: 54%;
    height: 70px;
}

#suicide{
    height: 50px;
    top: 9em;
    left: 1em;
}

#payagKana{
    bottom: 43%;
    left: 4em;
}

#hands{
    left: 5.5em;
    top: 34%;
}

#sakitAydol{
    left: 1%;
}