@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*{
    margin: 0;
}

body{
    background-image: url('./memes/heart.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

p{
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    font-size: 100%;
}

.container{
    border: 3px solid rgb(245, 212, 218);
    background-color: pink;
    border-radius: 20px; 
    text-align: center;
    padding: 5% 5%;
    margin: 45% 10% 0% 10%;
}

audio{
    height: 2em;
    width: 80%;
    margin-top: 5%;  
}

.pics{
    position: absolute;
    height: 20vh;
    border-radius: 10px;
}

#manny{
    top: 1%;
    left: 20%
}

#ily{
    bottom: 10%;
    left: 5%;
}

#valentine{
    bottom: 10%;
    right: 5%;
}

#beat{
    right: 5%;
}

#kilig{
    bottom: 35%;
    left: 2em;
}

footer{
    position: fixed;
    bottom: 10px;
    left: 30%;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    font-size: 60%;
}

@media only screen and (min-width: 840px){
    .container{
        margin: 30% 30% 0% 30%;
        padding: 1% 1%;
    }

    .pics{
        height: 200px;
    }

    #manny{
        top: 5%;
        left: 52%;
    }

    #kilig{
        top: 5%;
        left: 10%;
    }

    #ily{
        bottom: 8%;
        left: 5%;
    }

    #valentine{
        bottom: 6%;
        right: 6%;
    }

    #beat{
        bottom: 35%;
        left: 38%;
    }

    footer{
        left: 45%;
    }
}

@media only screen and (min-width: 1440px){
    .container{
        padding: 3% 1%;
        margin: 13% 30% 0% 32%; 
    }

    .pics{
        height: 30%;
    }

    #manny{
        top: 59%;
        left: 34%;
    }

    #beat{
        top: 5%;
        right: 17%;
    }

    #kilig{
        top: 5%;
        left: 15%;
        z-index: -1;
    }

    #valentine{
        bottom: 35%;
        right: 8%;
    }

    #ily{
        bottom: 25%;
        left: 5%;
    }

    footer{
        left: 45%;
    }
}
